/*=========Google fonts =========*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap'); 

/*======= base style ======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* ====== pre-defined css ======*/

body {
  background-color: rgb(184, 168, 168) !important;
}

h1 {
  color: black;
}

